$gold: #a8925e;
$lightgold: #e6d4a7;
$black: #383838;
$lightgrey: #f2f2f2;
$grey: #707070;

@mixin headline-big {
	font-family: "Noto Serif", serif;
	font-size: 60px;
	margin: 16px 0;
	line-height: 80px;
	font-weight: normal;
	@media (max-width: 1080px) {
		font-size: 32px;
		line-height: 42px;
	}
}

@mixin headline-normal {
	font-family: "Noto Serif", serif;
	font-size: 36px;
	font-weight: normal;
	line-height: 48px;
	@media (max-width: 1080px) {
		font-size: 32px;
		line-height: 42px;
	}
}

@mixin headline-font {
	font-family: "Noto Serif", serif;
	font-size: 32px;
	font-weight: normal;
}

@mixin headline-font-small {
	font-family: "Noto Serif", serif;
	font-size: 24px;
	font-weight: normal;
}

@mixin font-text-big {
	font-family: "Work Sans";
	font-size: 20px;
	line-height: 36px;
	@media (max-width: 1080px) {
		font-size: 16px;
		line-height: 32px;
	}
}

@mixin font-text-big-lower {
	font-family: "Work Sans";
	font-size: 20px;
	line-height: 32px;
	@media (max-width: 1080px) {
		font-size: 16px;
		line-height: 32px;
	}
}

@mixin font-text {
	font-family: "Work Sans";
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
}

@mixin font-text-small {
	font-family: "Work Sans";
	font-size: 12px;
}

@mixin image-darker {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(#000, 0.5);
}
html {
	scroll-behavior: smooth;
}
body {
	margin: 0 !important;
	font-family: "Work Sans";
}

p {
	margin: 0;
	line-height: 1.5;
}

u {
	text-decoration-color: transparent;
	border-bottom: 4px solid $gold;
}

a {
	text-decoration: none;
	color: white;
	width: fit-content;
	display: block;
}

.wrapper {
	overflow: hidden;
}

h1 {
	@include headline-big();
	@media (max-width: 1080px) {
		margin: 32px 0 !important;
	}
}

li {
	@include font-text-big();
}

h2 {
	@include headline-normal();
}

h3 {
	@include headline-font();
}

.row {
	padding: 196px;
	margin: 0px auto;
	@media (max-width: 1080px) {
		padding: 64px 24px;
		max-width: 100%;
	}
}

.row-small {
	padding: 64px 196px;

	box-sizing: border-box;
	margin: 0 auto;
	@media (max-width: 1080px) {
		padding: 64px 24px;
		max-width: 100%;
	}
}

.whr-button {
	display: block;
	padding: 8px 20px;
	margin: 16px 0;
	width: fit-content;
	color: white;
	background-color: $gold;
	cursor: pointer;
	@include font-text-small();
}

.header {
	@include font-text();
	z-index: 9;
	width: 100%;
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;

	.icon-bar {
		display: none;
	}
	.header-menu-bar {
		height: 72px;
		box-sizing: border-box;
		padding: 12px 24px;
		margin-right: 16px;
		width: 25%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: white;
		color: $black;

		a {
			color: $black;
		}
	}
	.icon {
		display: block;
		margin-left: 48px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		cursor: pointer;
		img {
			height: 72px;
			object-fit: cover;
		}
	}
	&.top {
		position: absolute;
		top: 0;
		left: 0;
		.icon {
			display: none;
		}
		.icon-bar {
			padding: 28px;
			display: block;
			img {
				height: 24px;
				margin-right: 12px;
			}
		}
		.header-menu-bar {
			background-color: transparent;
			a {
				color: white;
			}
		}
		.country-selector.weglot-dropdown .wgcurrent a,
		.country-selector.weglot-dropdown .wgcurrent span {
			color: white;
		}
		.country-selector.weglot-dropdown ul {
			background-color: transparent;
			border: none;
		}
	}

	#header-burger {
		background-color: white;
		background-image: url("../assets/img/menu.svg");
		height: 42px;
		width: 42px;
		border-radius: 50%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 40%;
		cursor: pointer;
	}
	.country-selector.weglot-dropdown {
		background-color: transparent !important;
	}
	.country-selector.weglot-dropdown .wgcurrent {
		border: none !important;

		&:after {
			display: none !important;
		}
	}
	.country-selector.weglot-dropdown .wgcurrent a,
	.country-selector.weglot-dropdown .wgcurrent span {
		padding-right: 0;
		font-family: "Work Sans";
		font-size: 16px !important;
		font-weight: normal;
		background-color: transparent;
	}
	.country-selector.weglot-dropdown a,
	.country-selector.weglot-dropdown span {
		font-family: "Work Sans";
		font-size: 16px !important;
		font-weight: normal;
		background-color: transparent;
	}
	@media (max-width: 1080px) {
		.header-menu-bar {
			top: 0;
			right: 0;
			margin-right: 8px;
			padding: 8px;
			width: auto;
			a {
				display: none;
			}
		}
	}
}

#menu {
	z-index: 999;
	height: 100vh;
	width: 33vw;
	background-color: $gold;
	position: fixed;
	top: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateX(100%);
	transition: all 0.3s ease-out;
	#header-burger-close {
		position: absolute;
		top: 32px;
		right: 48px;
		background-image: url("../assets/img/menu-close.svg");
		height: 48px;
		width: 48px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 35%;
		background-color: transparent;
		background-color: white;
		border-radius: 50%;
		cursor: pointer;
	}

	&.open {
		transform: translateX(0);
		transition: all 0.3s ease-in;
	}
	li {
		@include headline-font-small();
		list-style: none;
		margin-top: 22px;
		position: relative;
		margin-bottom: 4px;
		width: fit-content;
	}
	.menu-item-has-children {
		.toggle {
			content: "";
			cursor: pointer;
			position: absolute;
			left: -24px;
			top: 8px;
			width: 16px;
			height: 16px;
			background-image: url(../assets/img/calendar-arrow-black.svg);
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
	.menu-item {
		display: block;
	}
	.line {
		display: block;
		width: 0%;
		height: 1px;
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: white;
		transition: 0.2s all;
		&.menu-hover-underline {
			width: 100%;
			transition: 0.2s all;
		}
	}

	.sub-menu {
		transition: all 0.2s ease-in-out;
		max-height: 0px;
		overflow: hidden;
		&.open {
			transition: all 0.2s ease-in-out;

			max-height: 500px;
			display: block;
		}
	}
	li.current-menu-item > a {
		border-bottom: 1px solid white;
	}
	@media (max-width: 1080px) {
		width: 100%;
	}
}

.hero {
	height: 100vh;
	width: 100vw;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	&:after {
		@include image-darker();
		z-index: 2;
	}
	video {
		position: absolute;
		min-width: 100%;
		min-height: 100%;
		overflow: hidden;
		z-index: 1;
		background: #000;
	}
	.logo {
		height: 240px;
		width: 360px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		position: absolute;
		top: 24px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 3;
	}
	.content {
		position: relative;
		color: white;
		text-align: center;
		z-index: 3;
		.headline {
			@include headline-big();
		}
		.text {
			@include font-text-big();
		}
	}
	.hero-sidebar {
		z-index: 3;
		position: absolute;
		color: white;
		left: 50%;
		top: 60%;
		transform: translateX(-50%);
		display: flex;
		flex-direction: row;
		text-align: center;
		@include font-text-small();
		.hero-sidebar-box {
			box-sizing: border-box;
			background-color: transparent;
			padding: 12px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 128px;
			width: 164px;
			border: 1px white solid;
			img {
				margin: 12px auto;
				height: 42px;
				width: 42px;
			}
			&:hover {
				background: $black;
			}
		}
	}
	@media (max-width: 1080px) {
		.hero-sidebar {
			display: none;
		}
		.logo {
			width: 70%;
		}
	}
}

.block {
	height: auto;
	width: 100%;
	display: grid;
	color: $black;
	&.right {
		grid-template-columns: 1fr 1.7fr;
	}
	&.left {
		grid-template-columns: 1.7fr 1fr;
	}
	.googlemap {
		height: 100%;
		width: 100%;
		min-height: 35vh;
	}
	.block-content {
		padding: 8vh 5vw;
		background-color: $lightgrey;
		p {
			@include font-text-big();
			a {
				color: $gold;
				&:hover {
					text-decoration: underline;
				}
			}
		}

		.link {
			@include font-text-big();
			margin-top: 32px;
			color: $gold;
			display: flex;
			transition: 0.3s all;
			&:hover {
				transition: 0.3s all;
				transform: translateX(10px);
				&:after {
					transition: 0.3s all;
					transform: translateX(10px);
				}
			}
			&:after {
				transition: 0.3s all;
				content: url("../assets/img/right-arrow.svg");
				margin-left: 16px;
				margin-top: 4px;
			}
		}
	}
	.block-image {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	@media (max-width: 1080px) {
		grid-template-columns: 1fr !important;
		.block-content {
			padding: 24px;
		}
		.block-image {
			min-height: 35vh;
		}
	}
}

.halfblock {
	height: auto;
	width: 100%;
	display: grid;
	color: $black;
	grid-template-columns: 1fr 1fr;
	&.row-small {
		margin: 0 auto;
		.block-content {
			padding: 36px 48px;
		}
	}
	.block-content {
		padding: 192px 96px;
		p {
			@include font-text-big();
			a {
				color: $gold;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		.link {
			@include font-text-big();
			margin-top: 32px;
			color: $gold;
			display: flex;
			transition: 0.3s all;
			&:hover {
				transition: 0.3s all;
				transform: translateX(10px);
				&:after {
					transition: 0.3s all;
					transform: translateX(10px);
				}
			}
			&:after {
				transition: 0.3s all;
				content: url("../assets/img/right-arrow.svg");
				margin-left: 16px;
				margin-top: 4px;
			}
		}
	}
	.block-image {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	@media (max-width: 1080px) {
		grid-template-columns: 1fr !important;
		.block-content {
			padding: 24px;
		}
		.block-image {
			min-height: 35vh;
		}
	}
}

.halfblock {
	&.room-block {
		display: flex;
		.block-content {
			width: 50vw;
			.ausstattung-title {
				@include font-text();
				color: rgba(#000, 0.5);
				margin: 64px 0 0 0;
			}
			.ausstattung-list {
				display: flex;
				margin: 16px 0 36px 0;
				.room-ausstatt {
					margin-right: 24px;
					display: block;
					height: 24px;
					width: 24px;
					background-position: center;
					background-size: contain;
					background-repeat: no-repeat;
				}
				.TV {
					background-image: url(../assets/img/tv.svg);
				}
				.dusche {
					background-image: url(../assets/img/shower.svg);
				}
				.wifi {
					background-image: url(../assets/img/wifi.svg);
				}
				.water {
					background-image: url(../assets/img/water.svg);
				}
				.shoe {
					background-image: url(../assets/img/shoe-brush.svg);
				}
				.sleep {
					background-image: url(../assets/img/turndown.svg);
				}
				.news {
					background-image: url(../assets/img/newspaper.svg);
				}
				.spa {
					background-image: url(../assets/img/spa.svg);
				}
				.popup {
					display: none;
					position: absolute;
					width: fit-content;
					padding: 3px 5px;
					color: rgba(#000, 0.5);

					@include font-text-small();
				}
			}
		}
		.room-slicker {
			display: block;
			width: 50vw;
			height: auto;
			.slick-list {
				height: 100% !important;
			}
			.slick-track {
				height: 100% !important;
			}
			.block-image {
				max-width: 100%;
				height: 100%;
			}
			.slick-dots {
				position: absolute;
				bottom: 32px;
				left: 50%;
				width: fit-content;
				transform: translateX(-50%);
				display: flex;
				li {
					&.slick-active {
						button {
							background-color: $gold;
						}
					}
					margin-right: 16px;
					list-style: none;
					button {
						height: 6px;
						width: 64px;
						border-radius: 3px;
						border: none;
						background-color: $lightgrey;
						content: "";
						color: transparent;
					}
				}
			}
		}
		@media (max-width: 1080px) {
			flex-direction: column;
			.block-content {
				width: 90% !important;
			}
			.room-slicker {
				display: block;
				width: 100vw;
				height: 40vh;
			}
			.block-image {
				opacity: 1 !important;
			}
		}
	}
}

.content-group {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	p {
		@include font-text-big();
		max-width: 1000px;
		margin: 16px auto;
	}
	.content-group-items {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 32px;
		margin-top: 32px;
		@media (max-width: 1080px) {
			grid-template-columns: 1fr;
		}
		.item:hover {
			transition: all 0.3s ease;
			transform: scale(1.1);
		}
		.item {
			text-align: left;
			display: block;
			width: 100%;
			color: black;
			transition: all 0.3s !important;
			&:hover {
				transition: all 0.3s !important;
				transform: scale(1.05) !important;
			}
			.item-image {
				height: 420px;
				background-size: cover;
				background-position: center;
			}
			p {
				display: block;
				@include headline-font();
				margin-top: 32px;
			}
			.more {
				@include font-text();
				margin-top: 16px;
				color: $gold;
				display: flex;
				&:after {
					content: url("../assets/img/right-arrow.svg");
					margin-left: 16px;
				}
			}
		}
	}
}

.quote {
	background-color: $gold;
	text-align: center;
	color: white;
	.content {
		@include headline-normal();
		max-width: 900px;
		margin: 36px auto;
	}
	.author {
		@include font-text();
	}
}

.fulltext {
	padding-left: 320px;
	@media (max-width: 1080px) {
		padding-left: 16px;
	}
	h1 {
		margin-bottom: 48px;
	}
	p {
		@include font-text-big();
	}
	a {
		@include font-text-big();
		color: $gold;
	}
	.link {
		@include font-text();
		margin-top: 32px;
		color: $gold;
		display: flex;
		transition: 0.3s all;
		&:hover {
			transition: 0.3s all;
			transform: translateX(10px);
			&:after {
				transition: 0.3s all;
				transform: translateX(10px);
			}
		}
		&:after {
			transition: 0.3s all;
			content: url("../assets/img/right-arrow.svg");
			margin-left: 16px;
		}
	}
}

.pageheader {
	height: 66vh;
	width: 100%;
	color: white;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	&:before {
		@include image-darker();
		height: 66vh;
	}
	.pageheader-content {
		position: absolute;
		top: 40vh;
		left: 128px;
		max-width: 660px;

		.content-text {
			@include font-text-big();
		}
	}
	@media (max-width: 1080px) {
		.pageheader-content {
			left: 32px;
		}
	}
}

.footer {
	background-color: $black;
	color: white;
	padding: 80px 320px 160px 320px;
	display: flex;
	flex-direction: column;
	.footer-info {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		border-bottom: 1px solid rgba(#fff, 0.5);
		padding-bottom: 32px;
		@include font-text();

		.footer-erleben {
			max-width: 300px;
		}
	}
	.footer-policy-container {
		@include font-text();
		padding-top: 32px;
		color: rgba(#fff, 0.5);
		display: flex;
		justify-content: space-between;
		.footer-policy {
			ul {
				margin: 0;
			}
			li {
				list-style: none;
				display: inline-block;
				@include font-text();
			}
			a {
				color: rgba(#fff, 0.5) !important;
			}
		}
	}
	@media (max-width: 1080px) {
		padding: 16px;
		padding-bottom: 156px;
		.footer-info {
			grid-template-columns: 1fr;
		}
	}
}

.full-image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	width: 100%;
}

.newsletter {
	background-color: $gold;
	text-align: center;
	color: white;
	text-align: left;
	.newsletter-box {
		display: flex;
		justify-content: right;
		flex-direction: column;
		max-width: 600px;
		margin: 0 auto;
	}
	#email {
		display: block;
		box-sizing: border-box;
		@include font-text-big();
		width: 100%;
		background-color: transparent;
		padding: 16px 24px;
		border: none;
		border-bottom: 3px solid white;
		color: white;
		@include headline-normal();
		&::placeholder {
			color: rgba(#fff, 0.5);
			@include headline-normal();
		}
		&:focus {
			outline: none;
		}
	}
	.abbo {
		width: fit-content;
		text-align: right;
		align-self: flex-end;
		margin-top: 32px;
		display: flex;
		align-items: center;
		cursor: pointer;
		@include font-text();
		transition: 0.3s all;
		&:hover {
			transition: 0.3s all;
			transform: translateX(10px);
			&:after {
				transition: 0.3s all;
				transform: translateX(10px);
			}
		}
		&:after {
			transition: 0.3s all;
			content: url("../assets/img/right-arrow-white.svg");
			margin-left: 16px;
		}
	}
}

.kontakt {
	display: grid;
	grid-template-columns: 1.5fr 1fr;
	color: $black;
	p {
		@include font-text-big();
	}
	.partner-box {
		width: 400px;
		margin: 15px auto;
		background-color: $lightgrey;
		display: grid;
		grid-template-columns: 1.3fr 1fr;
		.partner-info {
			padding: 20px;
			padding-right: 8px;
		}
		.partner-title {
			@include font-text-small();
			color: $gold;
		}
		.partner-name {
			@include headline-font();
			color: $black;
		}
		.partner-position {
			@include font-text-small();
			color: rgba(#000, 0.5);
			padding: 8px 0 16px 0;
			border-bottom: 1px solid rgba(#000, 0.5);
		}
		.partner-phone {
			@include font-text-small();
			color: $black;
			padding-top: 24px;
			display: flex;
			&:before {
				display: block;
				content: "";
				height: 16px;
				width: 16px;
				background-image: url(../assets/img/phone.svg);
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
				margin-right: 12px;
			}
			a {
				color: $black;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		.partner-email {
			@include font-text-small();
			color: $black;
			padding-top: 12px;
			display: flex;
			align-items: center;
			&:before {
				display: block;
				content: "";
				height: 16px;
				width: 16px;
				background-image: url(../assets/img/mail.svg);
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
				margin-right: 12px;
			}
			a {
				color: $black;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		.partner-image {
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
	.link {
		margin-top: 32px;
		color: $gold;
		display: flex;
		transition: 0.3s all;
		&:hover {
			transition: 0.3s all;
			transform: translateX(10px);
			&:after {
				transition: 0.3s all;
				transform: translateX(10px);
			}
		}
		&:after {
			transition: 0.3s all;
			content: url("../assets/img/right-arrow.svg");
			margin-left: 16px;
		}
	}
	@media (max-width: 1080px) {
		grid-template-columns: 1fr;
		.partner-box {
			width: 90%;
			grid-template-columns: 1fr;
		}
	}
}

.blog-list {
	background-color: $lightgrey;
	.blog-list-page {
		margin: 0 auto;
		max-width: 1200px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 48px;

		.blog-container {
			height: 720px;
			display: grid;
			grid-template-rows: 1.3fr 1fr;
			background-color: white;
			width: 100%;
			color: black;
			.blog-image {
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				position: relative;
				.date-flag {
					position: absolute;
					top: 0;
					left: 24px;
					background-color: $gold;
					color: white;
					padding: 8px;
					text-align: center;
				}
			}
			.blog-info {
				box-sizing: border-box;
				padding: 32px;
				h3 {
					margin: 24px 0;
				}
				.blog-text {
					@include font-text-big-lower();
					padding-bottom: 24px;
					border-bottom: 1px rgba(#000, 0.5) solid;
				}
				.more {
					@include font-text();
					margin-top: 24px;
					color: $gold;
					display: flex;
					&:after {
						content: url("../assets/img/right-arrow.svg");
						margin-left: 16px;
					}
				}
			}
		}
		@media (max-width: 1080px) {
			grid-template-columns: 1fr;
		}
	}
}

.room-list {
	background-color: $lightgrey;

	h1 {
		text-align: center;
		margin: 96px 0;
	}
	.room-list-page {
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 48px;
		justify-items: center;
		.room-container {
			background-color: white;
			color: black;
			transition: all 0.3s !important;
			&:hover {
				transform: scale(1.05) !important;
				transition: all 0.3s !important;
			}
			.room-image {
				height: 30vh;
				display: flex;
				img {
					width: 100%;
					height: auto;
					object-fit: cover;
				}
			}
			.room-info {
				box-sizing: border-box;
				padding: 32px;
				h3 {
					margin: 16px 0 24px 0;
				}
				.excerpt {
					@include font-text-big-lower();
					padding-bottom: 36px;
					border-bottom: 1px rgba(#000, 0.5) solid;
				}
				.price {
					@include font-text();
					color: $grey;
				}
				.more {
					@include font-text();
					color: $gold;
					display: flex;
					&:after {
						content: url("../assets/img/right-arrow.svg");
						margin-left: 16px;
					}
				}
			}
		}
		@media (max-width: 1380px) {
			grid-template-columns: 1fr 1fr;
		}
		@media (max-width: 1080px) {
			grid-template-columns: 1fr;
		}
	}
}

.angebot-list {
	background-color: $lightgrey;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	p {
		@include font-text-big();
		max-width: 1000px;
		margin: 16px auto;
	}
	@media (max-width: 1080px) {
		.angebot-filters-container {
			width: 90vw;
			overflow: scroll;
			.angebot-filters {
				justify-content: normal;
				padding-right: 20px;
				.angebot-choice {
				}
			}
		}
	}
	.angebot-filters {
		width: 80%;
		margin: 12px auto;
		display: flex;
		justify-content: space-around;
		.angebot-choice {
			@include font-text-big();
			padding: 8px 24px;
			color: black;
			background-color: $lightgrey;
			cursor: pointer;
			&.selected {
				color: white;
				background-color: $gold;
			}
			&:hover {
				transition: 0.2s all;
				color: white;
				background-color: $gold;
			}
		}
	}
	.angebot-list-items {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 48px;
		margin-top: 32px;
		@media (max-width: 1380px) {
			grid-template-columns: 1fr 1fr;
		}
		@media (max-width: 1080px) {
			grid-template-columns: 1fr;
		}
		.item {
			background-color: white;
			text-align: left;
			color: black;
			transition: all 0.3s !important;

			display: none;
			&:hover {
				transition: all 0.3s !important;
				transform: scale(1.05) !important;
			}
			&.visible {
				display: block;
			}
			.item-image {
				height: 30vh;
				display: flex;
				img {
					width: 100%;
					height: auto;
					object-fit: cover;
				}
			}
			.angebot-list-info {
				padding: 32px;
				h2 {
					margin: 16px 0;
				}
				.excerpt {
					display: block;
					@include font-text-big-lower();
					margin-top: 16px;
					padding-bottom: 32px;
					border-bottom: 1px solid rgba(#000, 0.5);
				}
				.more {
					@include font-text();
					margin-top: 24px;
					color: $gold;
					display: flex;
					&:after {
						content: url("../assets/img/right-arrow.svg");
						margin-left: 16px;
					}
				}

				.angebot-list-detail {
					padding: 24px 0;
					border-bottom: 1px solid rgba(#000, 0.5);
					.punkt {
						@include font-text-big();
						display: flex;
						align-items: center;
						background-repeat: no-repeat;
						background-position: left;
						background-size: 24px 24px;
						padding-left: 32px;
					}
				}
			}
		}
	}
}

.booking-bar {
	position: fixed;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	width: 1100px;
	height: 96px;
	display: flex;
	justify-content: space-between;
	background-color: $black;
	box-sizing: border-box;
	padding: 24px;
	z-index: 999999999;
	.booking-calendar {
		position: relative;
		display: flex;
		justify-content: space-between;
		height: 100%;
		.start-date-container {
			margin-right: 48px;
		}
		input:focus {
			outline: none;
		}
		input {
			background-color: transparent;
			color: transparent;
			border: none;
			cursor: pointer;
			position: absolute;
			height: 100%;
			width: 100%;
			z-index: 99;
		}
		.label {
			font-size: 12px;
			color: rgba(#fff, 0.5);
		}
		#start-date,
		#end-date {
			@include headline-font-small();
			color: white;
			position: relative;
			padding-left: 16px;
			margin-top: 6px;
			&:before {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 0;
				content: "";
				width: 8px;
				height: 8px;
				background-image: url(../assets/img/calendar-arrow-white.svg);
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
			}
		}
	}
	.booking {
		display: flex;
		flex-direction: column;
		align-items: space-between;
		justify-content: left;

		.gast {
			margin-left: 8px;
			font-size: 12px;
			display: flex;
			height: 30px;
			color: rgba(#fff, 0.5);
		}
		select {
			margin-left: 4px;
			position: relative;
			-webkit-appearance: none;
			-moz-appearance: none;
			cursor: pointer;
			height: 32px;
			background: transparent;
			border: none;
			padding-left: 16px;
			@include headline-font-small();
			color: white;

			background-image: url(../assets/img/calendar-arrow-white.svg);
			background-size: 25%;
			background-position: 0% 50%;
			background-repeat: no-repeat;
		}
	}
	.button-group {
		display: flex;
	}
	#find-room {
		height: fit-content;
		font-size: 16px;
		box-sizing: border-box;
		border: 1px solid $gold;
		margin: 0;
		padding: 12px 20px;
		display: flex;
		align-items: center;
		margin-right: 16px;
		&:before {
			content: url("../assets/img/search.svg");
			margin-right: 8px;
		}
	}
	#table-booking {
		height: fit-content;
		font-size: 16px;
		background-color: $black;
		border: 1px solid $gold;
		color: $gold;
		box-sizing: border-box;
		margin: 0;
		padding: 12px 20px;
		display: flex;
		align-items: center;
		&:before {
			content: url("../assets/img/dinner.svg");
			margin-right: 8px;
		}
	}
}

@media (min-width: 1080px) {
	.pickmeup {
		transform: translateY(-25px);
		background-color: white !important ;
		z-index: 999;
		.pmu-instance {
			height: 440px !important;
			width: 28em !important;
			nav {
				color: $black !important;
				padding: 32px !important;
				.pmu-month {
					color: $black !important;
					font-family: "serif" !important;
					font-size: 32px !important;
				}
			}

			.pmu-day-of-week {
				border-top: 1px solid $gold;
				padding-bottom: 16px !important;
				padding-left: 0 !important;
				padding-right: 0 !important;
				margin: 0 32px;
				* {
					width: 3.2em !important;
				}
			}
			.pmu-button {
				color: $black !important;
				&.pmu-disabled {
					color: #aaa !important;
				}
			}
			.pmu-days {
				padding: 0 31px;
				* {
					width: 3.2em !important;
					line-height: 2.1em !important;
					margin: 0.2em 0;
				}
				.pmu-button {
					color: $black !important;
					&.pmu-disabled {
						color: #aaa !important;
					}
					&.pmu-not-in-month {
						color: transparent !important;
						&.pmu-selected {
							background-color: white !important;
						}
					}
					&.pmu-selected {
						background: linear-gradient(
							0deg,
							white,
							white 20%,
							$lightgrey 20%,
							$lightgrey 85%,
							white 85%,
							white 100%
						);
						&.last {
							position: relative;
							z-index: 1;
							background-image: url(../assets/img/square.svg);
							background-position: left -20% top 50%;
							background-repeat: no-repeat;
							background-size: 55% 80%;
							&:after {
								z-index: -1;
								position: absolute;
								top: 0;
								right: 0;
								content: "";
								height: 100%;
								width: 100%;
								background-image: url(../assets/img/circle.svg);
								background-position: center;
								background-repeat: no-repeat;
								background-size: contain;
							}
						}

						&.first {
							position: relative;
							z-index: 1;
							background-image: url(../assets/img/square.svg);
							background-position: right -20% top 50%;
							background-repeat: no-repeat;
							background-size: 55% 80%;
							&:after {
								z-index: -1;
								position: absolute;
								top: 0;
								right: 0;
								content: "";
								height: 100%;
								width: 100%;
								background-image: url(../assets/img/circle.svg);
								background-position: center;
								background-repeat: no-repeat;
								background-size: contain;
							}
						}
					}
				}

				.pmu-today {
					color: white !important;
					background-color: $grey;
				}
			}
			.calendar-prev {
				height: 100%;
				width: 24px;
				background-image: url(../assets/img/calendar-arrow.svg);
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				transform: rotate(90deg);
			}
			.calendar-next {
				height: 100%;
				width: 24px;
				background-image: url(../assets/img/calendar-arrow.svg);
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				transform: rotate(-90deg);
			}
		}
	}
}
@media (max-width: 1080px) {
	.pickmeup {
		z-index: 999;
		left: 50% !important;
		transform: translate(-50%, -33px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: white !important ;
		.pmu-instance {
			display: block !important;
			height: auto !important ;
			nav {
				color: $black !important;
				.pmu-month {
					color: $black !important;
				}
			}

			.pmu-day-of-week {
				border-top: 1px solid $gold;
				padding-bottom: 16px !important;
			}
			.pmu-button {
				color: $black !important;
			}
			.pmu-days {
				.pmu-button {
					color: $black !important;
					&.pmu-disabled {
						color: #aaa !important;
					}
					&.pmu-not-in-month {
						color: transparent !important;
						&.pmu-selected {
							background-color: white !important;
						}
					}
					&.pmu-selected {
						background-color: $gold;
						color: white !important;
					}
				}

				.pmu-today {
					color: white !important;
					background-color: $grey;
				}
			}
			.calendar-prev {
				height: 100%;
				width: 24px;
				background-image: url(../assets/img/calendar-arrow.svg);
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				transform: rotate(90deg);
			}
			.calendar-next {
				height: 100%;
				width: 24px;
				background-image: url(../assets/img/calendar-arrow.svg);
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				transform: rotate(-90deg);
			}
		}
	}

	.booking-bar {
		width: 100%;
		height: 128px;
		bottom: 0;
		left: 0;
		flex-direction: column;
		padding: 0;
		padding-top: 16px;
		transform: none;
		.booking-calendar {
			display: grid;
			grid-template-columns: 1fr 1fr;
			padding-left: 16px;
			.start-date-container {
				margin-right: 0;
			}
			#start-date,
			#end-date {
				@include font-text();
				color: white;
				position: relative;
				padding-left: 16px;
			}
		}
		.booking {
			.gast,
			select {
				display: none;
			}
		}
		.button-group {
			#find-room {
				font-size: 12px;
				margin-right: 0;
				width: 50%;
				line-height: 30px;
			}
			#table-booking {
				font-size: 12px;
				width: 50%;
			}
		}
	}
}

.treatments {
	padding: 64px 196px;
	.treatments-container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 24px;

		.treatment-box {
			@include font-text-big();
			color: black;
			padding: 32px;
			border: 1px solid black;
			background-color: $lightgrey;
			cursor: pointer;
			transition: all 0.3s;
			position: relative;
			box-sizing: border-box;
			transition: all 0.3s !important;
			&:hover {
				transform: scale(1.05) !important;
				transition: all 0.3s !important;
				&:before {
					background-color: rgba(#fff, 0.8);
					content: "Buchen";
					position: absolute;
					height: 100%;
					width: 100%;

					top: 0;
					left: 0;
					display: flex;
					justify-content: center;
					align-items: center;
					@include headline-big();
					color: $gold;
					margin: 0;
				}
			}
			> div {
				padding: 2px 0;
			}
			.title {
				@include headline-font-small();
				margin-bottom: 16px;
			}
			.price {
				font-weight: bold;
			}
		}
	}
}

.form {
	background-color: $gold;
	color: white;
	display: block;

	padding: 64px 246px;
	box-sizing: border-box;
	.wpcf7 {
		max-width: 1100px;
	}
	> div {
		@include headline-normal();
	}

	.form-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-bottom: 32px;
	}
	label {
		@include font-text-big();
	}
	p {
		margin-bottom: 20px;
	}
	label {
		display: flex;
		flex-direction: column;
	}
	.radio {
		label {
			display: block;
		}
		margin: 12px 0;
		display: flex;
		flex-direction: row;
	}
	input[type="text"],
	input[type="email"],
	input[type="tel"] {
		@include font-text-big();
		border: none;
		border-bottom: 3px solid white;
		background-color: $gold;
		color: white;
		max-width: 80%;
		padding: 0 8px;
		width: 100%;
		&:focus {
			outline: none;
		}
	}
	textarea {
		margin-top: 8px;
		width: 100%;
		@include font-text-big();
		padding: 8px;
		max-height: 256px;
		&:focus {
			outline: none;
		}
	}
	input[type="submit"] {
		display: block;
		padding: 8px 20px;
		margin: 16px 0;
		width: fit-content;
		color: $black;
		border: 1px $gold $black;
		cursor: pointer;
		@include font-text-big();
	}
	.wpcf7-list-item {
		margin: 0;
		label {
			display: block;
		}
	}
	@media (max-width: 1080px) {
		padding: 64px 16px;
		.form-container {
			grid-template-columns: 1fr;
		}
		textarea {
			width: 90%;
		}
	}
}

.partner-list {
	.partner-list-container {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		width: 100%;
		.partner-list-box {
			margin-right: 48px;
			margin-top: 32px;
			display: block;
			img {
				display: block;
				z-index: 1;
				transition: all 0.3s !important;
				max-height: 160px;
				&:hover {
					transition: all 0.3s !important;
					transform: scale(1.1) !important;
				}
			}
		}
		.partner-popup {
			display: none;
			position: absolute;
			width: fit-content;
			padding: 3px 5px;
			color: rgba(#000, 0.8);
			z-index: 99;
			background-color: $lightgrey;
			@include font-text-small();
		}
	}
}

.routen-planer {
	text-align: center;
	text-align: left;
	background-color: $lightgrey;
	color: $gold;
	.routen-planer-box {
		display: flex;
		justify-content: right;
		flex-direction: column;
		max-width: 600px;
		margin: 0 auto;
	}
	#start-place {
		display: block;
		box-sizing: border-box;
		@include font-text-big();
		width: 100%;
		background-color: transparent;
		padding: 16px 24px;
		border: none;
		border-bottom: 3px solid $gold;

		@include headline-normal();
		&::placeholder {
			color: rgba(#000, 0.5);
			@include headline-normal();
		}
		&:focus {
			outline: none;
		}
	}
	#google-map {
		width: fit-content;
		text-align: right;
		align-self: flex-end;
		margin-top: 32px;
		display: flex;
		align-items: center;
		cursor: pointer;
		@include font-text-big();
		transition: 0.3s all;
		&:hover {
			transition: 0.3s all;
			transform: translateX(10px);
			&:after {
				transition: 0.3s all;
				transform: translateX(10px);
			}
		}
		&:after {
			transition: 0.3s all;
			content: url("../assets/img/right-arrow.svg");
			margin-left: 16px;
			margin-top: 12px;
		}
	}
}

.download {
	.download-list {
		margin-top: 64px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 16px;
		.download-box {
			.download-image {
				height: 200px;
				display: flex;

				img {
					max-height: 100%;
				}
			}
			.download-title {
				margin-top: 16px;
				@include font-text-big();
			}
			a {
				@include font-text();
				color: $gold;
				display: flex;
				transition: 0.3s all;
				&:hover {
					transition: 0.3s all;
					transform: translateX(10px);
					&:after {
						transition: 0.3s all;
						transform: translateX(10px);
					}
				}
				&:after {
					transition: 0.3s all;
					content: url("../assets/img/right-arrow.svg");
					margin-left: 16px;
				}
			}
		}
		@media (max-width: 1080px) {
			grid-template-columns: 1fr;
		}
	}
}

.joblist {
	.joblist-filter {
		display: flex;
		padding-bottom: 24px;
		.filter-button {
			display: block;
			padding: 8px 20px;
			margin: 16px 0;
			width: fit-content;
			color: $gold;
			cursor: pointer;
			border: 1px solid $gold;
			@include font-text();
			margin-right: 16px;
			cursor: pointer;
			&.selected {
				color: white;
				background-color: $gold;
			}
		}
	}
	.joblist-container {
		display: flex;
		flex-direction: column;
		.job-container {
			color: $black;
			box-sizing: border-box;
			width: 100%;
			padding: 32px 64px;
			box-shadow: 0 1px 3px 0 rgba(36, 37, 42, 0.55);
			border: solid 1px rgba(9, 30, 66, 0.1);
			margin-bottom: 24px;
			background-color: $lightgrey;
			transition: all 0.3s;
			.title {
				@include headline-font-small();
				margin-bottom: 16px;
			}
			.ort {
				@include font-text-big();
			}
			.start {
				@include font-text-big();
			}
			&:hover {
				transition: all 0.3s;
				color: white;
				background-color: $gold;
			}
		}
		&.ausbild {
			display: none;
		}
	}
}

.notfound {
	height: 70vh;
	display: flex;
	@include headline-big();
	align-items: center;
	justify-content: center;
}

.full-image-block {
	min-height: 80vh;
	position: relative;
	* {
		color: white !important;
	}
	display: flex;
	align-items: flex-end;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	.block-content {
		background-color: transparent;
		z-index: 2;
		text-align: center;
		margin: 0 auto;
		h2 {
			margin-bottom: 0;
		}
		.link {
			margin: 0 auto;
			margin-top: 1rem;
		}
	}
	&:after {
		position: absolute;
		height: 100%;
		width: 100%;
		content: "";
		background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
	}
}

.kontakt-list {
	padding: 32px 196px;
	padding-bottom: 64px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 16px;
	@media (max-width: 1080px) {
		padding: 32px 64px;
		grid-template-columns: 1fr 1fr 1fr;
	}
	@media (max-width: 800px) {
		padding: 8px 32px;
		grid-template-columns: 1fr;
	}
	.kontakt-box {
		display: grid;
		grid-template-rows: 1.2fr 1fr;
		.kontakt-img {
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
		.kontakt-content {
			background-color: $lightgrey;
			color: $black;
			padding: 16px 24px;

			.kontakt-name {
				@include headline-normal();
			}
			.kontakt-position {
				@include font-text();
				padding-top: 8px;
			}
			.kontakt-way {
				margin-top: 16px;
				border-top: #ccc 1px solid;
				padding: 16px 0;
				display: flex;
				flex-direction: column;
				.partner-phone {
					@include font-text();
					color: $black;

					display: flex;
					&:before {
						display: block;
						content: "";
						height: 24px;
						width: 24px;
						background-image: url(../assets/img/phone.svg);
						background-position: center;
						background-size: contain;
						background-repeat: no-repeat;
						margin-right: 12px;
					}
					a {
						color: $black;
						&:hover {
							text-decoration: underline;
						}
					}
				}
				.partner-email {
					@include font-text();
					color: $black;
					padding-top: 12px;
					display: flex;
					align-items: center;
					&:before {
						display: block;
						content: "";
						height: 24px;
						width: 24px;
						background-image: url(../assets/img/mail.svg);
						background-position: center;
						background-size: contain;
						background-repeat: no-repeat;
						margin-right: 12px;
					}
					a {
						color: $black;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}

.component-iconlist {
	background: $black;
	color: #fff;
	padding-top: 100px;
	padding-bottom: 100px;
	font-size: 20px;
	line-height: 1.5;
	.inner {
		margin: 0 auto;
		max-width: 1200px;
		text-align: center;
		h2 {
			text-align: center;
			color: $gold;
		}
		.grid {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 2rem;
			margin-top: 3rem;
			@media (max-width: 1000px) {
				grid-template-columns: repeat(3, 1fr);
			}
			@media (max-width: 800px) {
				grid-template-columns: repeat(2, 1fr);
			}
			@media (max-width: 500px) {
				grid-template-columns: repeat(1, 1fr);
			}
			.icon {
				text-align: center;
				img {
					max-width: 50%;
					height: auto;
					margin-bottom: 1rem;
				}
			}
		}
	}
}
